@use 'app/styles' as *;


.number-input {
    @include app-reset-number-input;
}

.description-input {
    max-height: 10lh !important;
}

.map-preview-iframe {
    width: 100%;
    height: 280px;
    border: 0;
    display: block;
}